@model MVCCarServiceApp.ViewModels.OneCarAndCustomerViewModel
@{
    ViewBag.Title = "CarForm";
}

<h2>Car Form</h2>

@using (Html.BeginForm("AddCar", "Car"))
{
    <table class="form-group">
        <tr>
            <td class="text-center"><strong>VIN</strong></td>
            <td>
                @Html.TextBoxFor(m => m.Car.VIN, new { @class = "form-control" })<br />
                @*@Html.ValidationMessageFor(m => m.VIN)*@
            </td>
        </tr>
        <tr>
            <td class="text-center"><strong>Make</strong></td>
            <td>
                @Html.EnumDropDownListFor(m => m.Car.Make, "Select Car Make", new { @class = "form-control" })<br />
            </td>
        </tr>
        <tr>
            <td class="text-center"><strong>Model</strong></td>
            <td>
                @Html.TextBoxFor(m => m.Car.Model, new { @class = "form-control" })<br />
                @*@Html.ValidationMessageFor(m => m.Model)*@
            </td>
        </tr>
        <tr>
            <td class="text-center"><strong>Style</strong></td>
            <td>
                @Html.EnumDropDownListFor(m => m.Car.Style, "Select Car Style", new { @class = "form-control" })<br />
                @*@Html.ValidationMessageFor(m => m.Style)*@
            </td>
        </tr>
        <tr>
            <td class="text-center"><strong>Color</strong></td>
            <td>
                @Html.TextBoxFor(m => m.Car.Color, new { @class = "form-control" })<br />
                @*@Html.ValidationMessageFor(m => m.Color)*@
            </td>
        </tr>
    </table>
    @Html.HiddenFor(c => c.Customer.Id)
    @Html.HiddenFor(c => c.Customer.FirstName)
    @Html.HiddenFor(c => c.Customer.LastName)
    @Html.HiddenFor(c => c.Customer.EmailId)
    @Html.HiddenFor(c => c.Customer.City)
    <button class="btn btn-primary" type="submit">Add</button><hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
}