@model MVCCarServiceApp.ViewModels.AdminViewModel
@{
    ViewBag.Title = "AdminPanel";
}

<h2 class="text-center">Admin Panel</h2>

<hr />

@*<button class="btn btn-primary" style="width:100%"></button>*@
<a class="btn btn-primary" style="width:100%; font-family:'Agency FB'; font-size:large" 
   href="http://localhost:60807/Admin/PendingRequests"><i class="fa fa-spinner fa-pulse"></i><b> PENDING REQUESTS</b></a>
@*@Html.ActionLink("PENDING REQUESTS","PendingRequests", "", new { @class="btn btn-primary fa fa-spinner", style="width:100%"})*@

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="row" style="overflow:scroll; height:237px">
            <table class="table table-bordered table-hover table-striped text-center">
                @foreach (var item in Model.CarMakes)
                {
                    <tr><td>@item.Make</td></tr>
                }
            </table>
        </div>
        <table class="text-center" style="margin-top:5px">
            @using (Html.BeginForm("AddCarMake", "Admin"))
            {
                <tr>
                    <td>@Html.TextBoxFor(c => c.CarMake.Make, new { @class = "form-control", placeholder = "Enter Car Make" })</td>
                    <td><button type="submit" class="btn btn-success">Add Car Make</button></td>
                </tr>
            }
            @using (Html.BeginForm("DeleteCarMake", "Admin"))
            {
                <tr>
                    <td>@Html.DropDownListFor(m => m.CarMake.Id, new SelectList(Model.CarMakes, "Id", "Make"), "Select Make to Delete", new { @class = "form-control" })</td>
                    <td><button type="submit" class="btn btn-danger">Delete</button></td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-4">
        <div class="row" style="overflow:scroll; height:237px">
            <table class="table table-bordered table-hover table-striped text-center">
                @foreach (var item in Model.CarStyles)
                {
                    <tr><td>@item.Style</td></tr>
                }
            </table>
        </div>
        <table class="text-center" style="margin-top:5px">
            @using (Html.BeginForm("AddCarStyle", "Admin"))
            {
                <tr>
                    <td>@Html.TextBoxFor(c => c.CarStyle.Style, new { @class = "form-control", placeholder = "Enter Car Style" })</td>
                    <td><button type="submit" class="btn btn-success">Add Car Style</button></td>
                </tr>
            }
            @using (Html.BeginForm("DeleteCarStyle", "Admin"))
            {
                <tr>
                    <td>@Html.DropDownListFor(m => m.CarStyle.Id, new SelectList(Model.CarStyles, "Id", "Style"), "Select Style to Delete", new { @class = "form-control" })</td>
                    <td><button type="submit" class="btn btn-danger">Delete</button></td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-4">
        <div class="row" style="overflow:scroll; height:237px">
            <table class="table table-bordered table-hover table-striped text-center">
                @foreach (var item in Model.ServiceTypes)
                {
                    <tr><td>@item.ServiceName</td></tr>
                }
            </table>
        </div>
        <table class="text-center" style="margin-top:5px">
            @using (Html.BeginForm("AddServiceType", "Admin"))
            {
                <tr>
                    <td>@Html.TextBoxFor(c => c.ServiceType.ServiceName, new { @class = "form-control", placeholder = "Enter Service Name" })</td>
                    <td><button type="submit" class="btn btn-success">Add Service Type</button></td>
                </tr>
            }
            @using (Html.BeginForm("DeleteServiceType", "Admin"))
            {
                <tr>
                    <td>@Html.DropDownListFor(m => m.ServiceType.Id, new SelectList(Model.ServiceTypes, "Id", "ServiceName"), "Select Type to Delete", new { @class = "form-control" })</td>
                    <td><button type="submit" class="btn btn-danger">Delete</button></td>
                </tr>
            }
        </table>
    </div>
</div>