@model MVCCarServiceApp.Models.ApplicationUser
@{
    ViewBag.Title = "Customer Form";
}

<h2>Customer Form</h2>

@using (Html.BeginForm("AddCustomer", "Customer"))
{
<table class="form-group">
    <tr>
        <td class="text-center"><strong>First Name</strong></td>
        <td>
            @Html.TextBoxFor(m=>m.FirstName, new { @class = "form-control" })<br/>
            @*@Html.ValidationMessageFor(m => m.FirstName, "",new { @class = "text-danger" })*@
        </td>
    </tr>
    <tr>
        <td class="text-center"><strong>Last Name</strong></td>
        <td>
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })<br />
            @*@Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })*@
        </td>
    </tr>
    <tr>
        <td class="text-center"><strong>Email Id</strong></td>
        <td>
            @Html.TextBoxFor(m=>m.Email, new { @class = "form-control" })<br />
            @*@Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "text-danger" })*@

        </td>
    </tr>
    <tr>
        <td class="text-center"><strong>Mobile No.</strong></td>
        <td>
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })<br />
            @*@Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })*@
        </td>
    </tr>
    <tr>
        <td class="text-center"><strong>City</strong></td>
        <td>
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })<br />
            @*@Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })*@
        </td>
    </tr>


</table>

<button class="btn btn-primary" type="submit">Add</button>
<hr/>
@Html.ValidationSummary("", new { @class = "text-danger" })
}