@model MVCCarServiceApp.ViewModels.ServiceTypeViewModel
@{
    ViewBag.Title = "Home Page";
}

@section css{
    <link href="~/Content/HomeBackground.css" rel="stylesheet" />
    <link href="~/Content/IndexHome.css" rel="stylesheet" />s
    <link href="~/Content/customNav.css" rel="stylesheet" />
}

@section navbar{
    <li>
        <div class="dropdown">
            <button class="dropbtn" style="font-family:'Agency FB'">About&nbsp;&nbsp;<i class="fas fa-angle-down"></i></button>

            <div class="dropdown-content text-center" style="font-family:'Agency FB'">
                <a href="#4Images">Why Us?</a>
                <a href="#div4">Major Services</a>
                <a href="#carMakes">Major Car Makes</a>
                <a href="#myCarousel">Our Offerings</a>
                <a href="#company">Company</a>
            </div>
        </div>
    </li>
    <li><a class="updatedNav" href="#contact">Contact Us</a></li>
    <li><a class="updatedNav" href="https://www.lifehack.org/490519/5-car-maintenance-blogs-you-should-read-every-day">Blogs</a></li>
}

<div style="margin-left: -90px; margin-right: -89px;">
    <!--Head Jumbotron-->
    <div class="jumbotron slideInUp delay1" id="divMain1" style="padding-top:10px; padding-bottom:30px; margin-left:86px; margin-right:86px;">
        <img class="navbar-brand slideInLeft delay2" src="~/Images/output-onlinepngtools (1).png" alt="" style="height:220px; padding:0px" />
        <h2 class="text-center slideInLeft delay2" style="font-size:28px; margin-top:60px"><b>Top notch service is our main auto motive.</b></h2>
        <p class="lead text-center slideInLeft delay2">MS Auto Garage is one of the best and most recognized Car Servicing Garages in Pune. </p>
        <p><a href="#company" class="btn btn-primary btn-lg slideInLeft delay2" style="margin-left:220px">Learn more &raquo;</a></p>
    </div>
    <!--4 images-->
    <div id="4Images" class="row text-center text-primary" style="margin-top: 280px; padding-top: 170px; margin-left:50px;
            margin-right:50px; margin-bottom:80px; font-size:30px; font-family:'Agency FB'">
        <div class="col-md-3 slideInLeftJQuery">
            <img style="margin-bottom:10px" src="~/Images/best_price.png" />
            <p>Best Prices</p>
        </div>

        <div class="col-md-3 slideInLeftJQuery" style="border-left: 2px solid #a3a3a3; height: 100px">
            <img style="margin-bottom:10px" src="~/Images/expert.png" />
            <p>Expert Workmanship</p>
        </div>

        <div class="col-md-3 slideInLeftJQuery" style="border-left: 2px solid #a3a3a3; height: 100px">
            <img style="margin-bottom:10px" src="~/Images/free_pickup.png" />
            <p>Free Pickup and Drop</p>
        </div>

        <div class="col-md-3 slideInLeftJQuery" style="border-left: 2px solid #a3a3a3; height: 100px">
            <img style="margin-bottom:10px" src="~/Images/spare.png" />
            <p>Genuine Spares</p>
        </div>
    </div>
    <!--Happy Customers-->
    <div class="row" style="margin-left:100px; margin-bottom: 70px;">
        <div class="col-md-3 row slideInRightJQuery" style="background-color:#eeeeee; border-radius:20px; padding-bottom: 30px; margin-left: 140px">
            <i class="col-md-4 fa fa-smile fa-4x" style="padding-top: 40px; color:#428bca"></i>
            <div class="col-md-8 text-center" style="padding-top:20px"><h2 class="text-primary">@Model.CheckInteger</h2><h4>Happy Customers</h4></div>
        </div>
        <div class="col-md-3 text-center slideInRightJQuery" style="background-color:#eeeeee; border-radius:20px; padding-top: 15px; padding-bottom: 35px; margin-left: 175px;">
            <h2>Google Rating: 4.5</h2>
            <div style="color:#428bca">
                <i class="fas fa-star fa-2x"></i>
                <i class="fas fa-star fa-2x"></i>
                <i class="fas fa-star fa-2x"></i>
                <i class="fas fa-star fa-2x"></i>
                <i class="fas fa-star-half-alt fa-2x"></i>
            </div>
        </div>
    </div>
    <!--Major Services-->
    <div id="div4" class="hideme" style="height:650px">
        <div class="row">
            <h2 class="text-center" style="color:white; font-family:'Agency FB'">MAJOR <b>SERVICES</b></h2>
        </div>

        <hr />

        <div style="margin-left:130px">
            @foreach (var item in Model.ServiceTypes)
            {
                @*<div class="checkMark col-md-3 jumbotron text-center" style="margin-left:20px; height:120px; width:250px; padding:20px">@item.ServiceName</div>*@

                <span title="Click to View Service Details">
                    <button onclick="@{@item.Keyword}()" class="dropbtn checkMark col-md-3 jumbotron text-center"
                            style="margin-left:20px; height:120px; width:250px; padding:20px; color:black">
                        @item.ServiceName
                    </button>
                </span>
                <div id="@item.Keyword" class="dropdown-content" style="width: 1100px; height: 490px; border-radius: 25px;
                        font-family:'Agency FB'">
                    <div class="row">
                        <div class="col-md-11 text-center">
                            <h2>
                                <span style="font-family:'Agency FB'; padding-left: 27px;"><b>@item.ServiceName</b></span>
                            </h2>
                        </div>
                        <div class="col-md-1">
                            <h2>
                                <i class="fas fa-times" style="color:#8c8c8c" onMouseOver="this.style.color='#b32d2d'"
                                   onMouseOut="this.style.color='#8c8c8c'"></i>
                            </h2>
                        </div>
                    </div>

                    @*<h2 style="padding-left:50px"><span style="font-family:'Agency FB'"><b>@item.ServiceName</b></span>
                        <i class="fas fa-times" style="color:#8c8c8c; padding-left: 860px;"></i></h2>*@
                    <hr style="border: 2px solid #a3a3a3" />
                    <div style="font-size:x-large; padding-left: 35px; padding-right: 35px">
                        <p>@item.Description</p>
                        <p>Base Price- @item.Price</p>
                    </div>
                </div>
                <script>
                function @{@item.Keyword}() {
                    document.getElementById("@item.Keyword").classList.toggle("show");
                        }

                        // Close the dropdown menu if the user clicks outside of it
                        window.onclick = function (event) {
                            if (!event.target.matches('.dropbtn')) {
                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                }
                    }
                }
                </script>
            }
        </div>
    </div>
    <!--Car Makes Header-->
    <div id="carMakes" class="text-center slideInLeftJQuery" style="color:white; background-color:#428bca; border-radius: 20px; margin-left: 25px; margin-right: 25px">
        <h1 style="padding-top: 30px; padding-bottom: 30px"><span style="font-family:'Agency FB'">We support many makes and models</span></h1>
    </div>
</div>

<!--Car Makes-->
<div id="carMakes" class="slideInLeftJQuery" style="margin-bottom: 20px">
    <div class="row text-center logos" style="margin-top: 40px">
        <div class="col-md-3" style="border-right: 2px solid #a3a3a3">
            <img style="width:50%" src="~/Images/mercedes_logos_PNG3.png" />
        </div>
        <div class="col-md-3" style="border-right: 2px solid #a3a3a3">
            <img style="width:50%; padding-top: 30px; padding-bottom: 29px;" src="~/Images/McLaren-logo-2002-2560x1440.png" />
        </div>
        <div class="col-md-3" style="border-right: 2px solid #a3a3a3">
            <img style="width:50%; padding-top: 30px; padding-bottom: 29px;" src="~/Images/audi-logo-png-1920x1080-hd-1080p-1920.png" />
        </div>
        <div class="col-md-3">
            <img style="width:40%; padding-top: 6px; padding-bottom: 6px;" src="~/Images/lamborghini_PNG10709.png" />
        </div>
    </div>
    <div class="row text-center logos" style="margin-top:30px">
        <div class="col-md-4" style="border-right: 2px solid #a3a3a3">
            <img style="width:35%;" src="~/Images/580b585b2edbce24c47b2c54.png" />
        </div>
        <div class="col-md-4" style="border-right: 2px solid #a3a3a3">
            <img style="width:35%; padding-top: 42px; padding-bottom: 43px;" src="~/Images/hennessey.png" />
        </div>
        <div class="col-md-4">
            <img style="width:35%; padding-top: 5px; padding-bottom: 4px;" src="~/Images/Koenigsegg-logo-1994-2048x2048.png" />
        </div>
    </div>
    <div class="row text-center logos" style="margin-top:30px">
        <div class="col-md-3" style="border-right: 2px solid #a3a3a3">
            <img style="width:100%; padding-top: 5px; padding-bottom: 5px;" src="~/Images/Wmotors-600x315.png" />
        </div>
        <div class="col-md-3" style="border-right: 2px solid #a3a3a3">
            <img style="width:100%" src="~/Images/Pagani-emblem-1992-1920x1080.png" />
        </div>
        <div class="col-md-3" style="border-right: 2px solid #a3a3a3">
            <img style="width:70%; padding-top: 32px; padding-bottom: 33px;" src="~/Images/Aston Martin.png" />
        </div>
        <div class="col-md-3">
            <img style="width:70%; padding-top: 14px; padding-bottom: 14px;" src="~/Images/Porsche-Logo-PNG-Pic.png" />
        </div>
    </div>
</div>

<div style="margin-left: -90px; margin-right: -89px;">
    <!--Our Offering Carousel-->
    <div id="myCarousel" class="carousel slide hideme" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Images/4491739-muscle-car-wallpapers.jpg" />
                <div class="carousel-caption" style="padding-top:0px">
                    <h1 style="border-radius:10px; margin-top:-10px; margin-bottom:45px; font-family:'Agency FB'; height:80px; padding-top:20px; margin-left:-250px; margin-right:-250px; background-color:#428bca">Our Offerings</h1>
                    <div class="checkMark jumbotron text-center" style="color:black; padding-left:10px; padding-right:10px; margin-bottom:540px; margin-left:283px">
                        <div class="row">
                            <i class="fas fa-check-circle fa-2x text-info col-md-2"></i>
                            <p class="col-md-10">Upfront Servicing Prices with no Hidden Cost.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="~/Images/joker-lamborghini-and-batmobile_1562105326.jpg" style="width:100%">
                <div class="carousel-caption">
                    <h1 style="border-radius:10px; margin-bottom:50px; font-family:'Agency FB'; height:80px; padding-top:20px; margin-left:-250px; margin-right:-250px; background-color:#428bca">Our Offerings</h1>
                    <div class="checkMark jumbotron text-center" style="color:black; padding-left:10px; padding-right:10px; margin-bottom:450px; margin-left:263px; width:300px">
                        <div class="row">
                            <i class="fas fa-check-circle fa-2x text-info col-md-2"></i>
                            <p class="col-md-10">Pioneer In The Industry To Bring Fix Prices For Denting Painting.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="~/Images/285106.jpg">
                <div class="carousel-caption">
                    <h1 style="border-radius:10px; margin-bottom:50px; font-family:'Agency FB'; height:80px; padding-top:20px; margin-left:-250px; margin-right:-250px; background-color:#428bca">Our Offerings</h1>
                    <div class="checkMark jumbotron text-center" style="color:black; padding-left:10px; padding-right:10px; margin-bottom:535px; margin-left:263px; width:300px">
                        <div class="row">
                            <i class="fas fa-check-circle fa-2x text-info col-md-2"></i>
                            <p class="col-md-10">Major Repairs At Reasonable Cost And Complete Transparency.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img style="width:100%" src="~/Images/carvanahaulerdeliverynew_1200xx7360-4140-0-575.jpg">
                <div class="carousel-caption">
                    <h1 style="border-radius:10px; margin-bottom:50px; font-family:'Agency FB'; height:80px; padding-top:20px; margin-left:-250px; margin-right:-250px; background-color:#428bca">Our Offerings</h1>
                    <div class="checkMark jumbotron text-center" style="color:black; padding-left:10px; padding-right:10px; margin-bottom:450px; margin-left:263px; width:300px">
                        <div class="row">
                            <i class="fas fa-check-circle fa-2x text-info col-md-2"></i>
                            <p class="col-md-10">Door Step Car Detailing With Highly Equipped Van.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<hr style="border: 1px solid #428bca" />

<!--Company Details-->
<div id="company">
    <h1>About the Company</h1>
    <hr style="border: 1px solid #428bca" />
    <h2>MS Auto Garage</h2>

    <p style="font-size:medium">
        <i class="fa fa-quote-left fa-2x fa-pull-left fa-border"></i>MS Auto Garage was founded
        in 2019 with the vision of bringing Car after sales service market online and make it organized. Millions of
        cars running on Indian roads require regular Scheduled Servicing, Repairs, Denting Painting as well as Car Detailing.
        Car owners are spending exuberant amount on car maintenance in this unorganized market. We saw opportunity to help
        consumers by bringing transparency, savings and assured quality along with the convenience of Free Pick up and Drop facility.
    </p>
    <br />
    <p style="font-size:small">
        <b>Our Service Centers:</b> MS certified garages are selected based on strict criteria like the service center
        must have more than 7 years of experience, skilled labor, advanced technology, equipped with proper tools and
        most important is understanding of customer expectations and requirement. This has helped us to serve more than
        10000 happy customers till now with 4.3 rating on Google.
    </p>

    <p style="font-size:small">
        <b>Our Process:</b> MS Auto believes in process oriented work based on IT systems..
        Right from Car pick up till car drop complete process is automated. Job card till the online payment and delivery
        everything happens through mobile app and customer receives all updates accordingly. Repair history is also saved
        automatically on mobile app. It also offers convenience of maintaining records under one account for multiple cars.
    </p>

    <p style="font-size:small">
        <b>Our Promise:</b> Assured quality, convenience, trusted advise & reasonable cost are
        the main pillars for MS Auto. We offer fix price servicing packages, unbeatable prices for repairs, panel wise fixed
        prices for denting painting and doorstep car detailing with huge savings.
    </p>

    <p style="font-size:small">
        Currently MSAutoGarage.com is running in Pune & PCMC with more than 85% repeat customers.
        MS Auto plans to expand in another 4 Cities in coming few months. We have also launched Electric Vehicle Charging
        Infrastructure in Banglore and has aggressive plans to play a significant role in this transformation.
    </p>

    <div class="text-center" style="margin-top:20px; background-color:#428bca; border-radius:95px; padding-top:15px; padding-bottom:15px; padding-right:10px; color:#2d343b; ">
        <img class="navbar-brand" style="height:200px; margin-left:20px;" src="~/Images/Segells_01_13-512.png" />
        <h2 style="font-family:'Agency FB'; font-size:35px"><b><u>We Guarantee a Trust, Privacy & Satisfaction to Our Every Customer.</u></b></h2>
        <br />
        <p class="lead" style="font-family:'Agency FB'; font-size:27px">
            We Guarantee a Trust, Privacy & Satisfaction to Our Every Customer.We understand you are busy and your
            Car plays an important role in your life hence we would like to provide continuously better service to keep
            your Family Happy & Your Car Healthy. Have a Happy Ride.
        </p>
    </div>
</div>

<hr style="border: 1px solid #428bca" />

<!--Contact-->
<div id="contact">
    <h2>Contact Us</h2>
    <hr style="border: 1px solid #428bca" />
    <h3>MS Auto Garage.</h3>

    <address>
        105, Saifee Nagar,<br />
        Khatiwala Tank,<br />
        Indore (M.P.)<br />
        Phone no.- 9479675152<br />
        Email Id- mohammed.safdari@zensar.com
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:support@example.com">Support@msauto.com</a>
    </address>
</div>

<!--Footer-->
<div style="background-color:#428bca; height:270px; padding-top:40px; padding-right:25px; margin-left: -90px; margin-right: -89px">
    <img class="navbar-brand" style="height:150px; margin-right:20px; margin-left: 30px; margin-top: 21px;" src="~/Images/GOL_logo_0.png" />
    <div class="text-center" style="font-family:'Agency FB'; font-size:50px;">We <i class="fas fa-heart text-danger fa-beat"></i> new friends. For Secure and hassle free car driving experience, Follow us on- </div>
    <div style="margin-left:700px; margin-top:20px; color:#2f3036">
        <a href="https://twitter.com/mohammedsafdari" title="Twitter"><i class="fab fa-twitter fa-3x" style="color:#2f3036" onMouseOver="this.style.color='#1DA1F2'" onMouseOut="this.style.color='#2f3036'"></i></a>
        <a href="https://www.facebook.com/mohammedsafdari" title="Facebook"><i class="fab fa-facebook-square fa-3x" style="color:#2f3036" onMouseOver="this.style.color='#3b5998'" onMouseOut="this.style.color='#2f3036'"></i></a>
        <a href="https://www.instagram.com/mohammedsafdari" title="Instagram"><i class="fab fa-instagram fa-3x" style="color:#2f3036" onMouseOver="this.style.color='#cd486b'" onMouseOut="this.style.color='#2f3036'"></i></a>
        <a href="https://www.linkedin.com/in/mohammed-safdari-80a965121/" title="LinkedIn"><i class="fab fa-linkedin fa-3x" style="color:#2f3036" onMouseOver="this.style.color='#0077B5'" onMouseOut="this.style.color='#2f3036'"></i></a>
    </div>
</div>
